
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileContent/fileContent.lock
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/javaCompile/taskJars.bin
.gradle/4.1/javaCompile/taskHistory.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/javaCompile/jarAnalysis.bin
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
build/android-profile/profile-2018-07-12-21-47-55-738.json
build/android-profile/profile-2018-07-12-21-47-55-738.rawproto
build/android-profile/profile-2018-07-12-21-48-25-628.json
build/android-profile/profile-2018-07-12-21-48-25-628.rawproto
build/android-profile/profile-2018-07-14-09-42-47-206.json
